body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: url(img/espaco.jpg);
    background-size: cover;
    position: relative;
}




.container {
    background-image: url(img/astronauta.png);
    background-size: 100% 100%;
    position: absolute;
    width: 400px;
    height: 400px;

    transform: translate(-50% -50%);
}